input {
  background: none;
  font-weight: inherit;
  text-align: right;
  line-height: inherit;
  color: inherit;
  padding: 0;
  border: none;
  border-radius: 3px;
  outline: 1px dashed #001e26;
}

.deposit {
  width: 85px;
}

.percent,
.period {
  width: 30px;
}

.period-text {
  display: inline-block;
  text-align: left;
  width: 65px;
  margin-left: 5px;
}

.link {
  color: inherit;
}
